@charset "utf-8";

.layout{width: 1000px;margin: 0 auto;}
.seller-header{background: #880805;padding: 40px 0;}
.seller-logo{color: #fff;}
.seller-logo img{width: 100px;height: 55px;vertical-align: middle;margin-right: 20px;}
.seller-show{background: #ececec}
.recommend-line{ position: relative; padding: 20px 0; text-align: center; }
.recommend-line:before, .recommend-line:after{ display: block; position: absolute; top: 28px; width: 44%; content: ""; border-top: 1px solid #c81623; }
.recommend-line>a{ display: inline-block; font-size: 16px; color: #c81623; }
.recommend-line:after{ right: 0; }
.recommend-line:before{left: 0;}