@charset "utf-8";



.pro_curmbs { margin-bottom:20px;} /*产品列表页，面包屑导航,字体颜色可自行修改*/
.pro_curmbs span { color:#C10005;}
.pro_curmbs a { color:#333;}
.pro_curmbs a:hover { color:#C10005;}

/* -- 产品详细页 -- */
.pleft { width: 405px;float:left;}


/* -- 产品详细页__产品详细参数 -- */
.propar{float: left;margin-left: 20px;}
.propar h4 { color:#333;font-size: 16px; line-height:44px; border-bottom:1px dashed #ccc;margin-bottom: 10px;}
.propar div , .proshop div {padding:5px; padding-bottom:0; line-height:22px;}
.propar div span { font-weight:bold;}
.pd_short p { line-height: 26px; }


/* proviewbox */

.js_goods_image_url{width:390px;height:381px;}
.proinfo{margin-top: 30px}
.proinfo-title{height:74px; background:url(../images/bg-detail.jpg) no-repeat scroll 0 0; text-align:center;margin: 20px 0;}
.proinfo img{max-width: 720px;}
/*.proinfo p{  margin: 25px 0;  font-size: 14px;}*/
.p-title-1{color: #99235f;font-size: 24px;font-weight: bold;padding: 12px 0 5px 0;margin: 0;}
.p-title-2{margin: 0;color: #5b5b5b;font-weight: bold;font-size: 16px;}
.pifa-title{border-bottom:#99235f 1px solid; font-family:'微软雅黑'; width:200px; padding:0;margin: 20px 0;}
.pifa-num{float:left; background-color:#99235f; padding:5px; color:#fff; font-size:26px; height:30px; width:30px; line-height:30px; margin-right:5px;}
.pifa-name{font-size:18px; color:#202326; height:39px; line-height:39px; font-weight:bold;}
.wrapper{background: #fff;max-width: 1060px;margin: 20px auto;padding: 20px;}
.pro-detail, .pro_column{float: left;width: 720px;}
.pro-list{float: right;width: 300px;}
.pro-list .tit{color: #fff; font-size: 14px; background: #ba0d2a; height: 36px; line-height: 36px; padding-left: 18px; overflow: hidden; font-weight: bold;}
.pro-pic img{margin: 10px auto;display: block;width: 300px;height: 300px;}
.pro_column ul{width: 800px;}
.pro_column ul li{float: left;width: 234px;margin: 0 10px 20px 0;text-align: center;padding: 0 0 10px;}
.pro_column ul li img{width: 230px;height: 230px;}
.pro_column ul li span, .pro_column ul li span em{display: block;font-size: 12px;}
.pro_column ul li a:hover{color:#f60;text-decoration: none;}

/* 放大镜 */
.ZoomMain {width: 390px;float: left; position: relative; }
.ZoomMain .zoom { height: 390px; width: 390px; position: relative; border: 1px solid #dcdddd; }
.ZoomMain .zoom .move { position: absolute; left: 0; top: 0; display: none; width: 195px; height: 195px; background: #000; opacity: 0.2; filter: Alpha(Opacity=20);cursor: crosshair; }
.ZoomMain .zoomDetail { display: none; border: 1px solid #DCDDDD; width: 393px; height: 393px; position: absolute; right: -405px; top: 0px; overflow: hidden; }
.littleImg { margin-top: 10px; height: 54px; overflow: hidden; position: relative; }
.littleImg span { position: absolute; display: block; width: 10px; height: 12px; background: #999; cursor: pointer; margin-top: 20px; }
.littleImg span em { display: none; width: 10px; height: 55px; } .littleImg span.btnL { left: 0; background: url(../images/arrow.png) no-repeat -22px 0; }
.littleImg span.btnL em { background: url(../images/arrow.png) no-repeat 0 0; }
.littleImg span.btnR em { background: url(../images/arrow.png) no-repeat -65px 0; }
.littleImg span.btnR { right: 0; background: url(../images/arrow.png) no-repeat -44px 0; }
.littleImg span.hover em { display: block; }
.littleImg .slideMain { width: 343px; height: 55px; margin-left: 26px; overflow: hidden; position: relative; }
.littleImg .slideMain ul { position: absolute; left: 0; width: 355px; padding-top: 1px; }
.littleImg .slideMain ul li { float: left; margin-right: 6px; cursor: pointer; width: 50px; height: 50px; border: 1px solid #dbdbdb; }
.littleImg .slideMain ul li.selected { border-color: #999; }
.littleImg .slideMain ul li img { float: left; width: 50px; height: 50px; }

/*page*/
.hide{display: none!important;}
.page{text-align: center;font-size: 12px;height: 34px;line-height: 34px;}
.page .btn{display: inline-block;cursor: pointer;color: #ba0d2a;vertical-align:top;}
.page .btn a{display:inline-block;height: 32px;line-height: 32px;width: 68px;font-size: 12px;}
.page .btn a:hover{background: #fff;color: #e11010;}
.page .btn i{background-image: url("../images/arrow.png");width: 9px;height: 10px;display: inline-block;margin: 0 3px;}
.page .num{line-height: 34px;color:#ba0d2a;width: 32px;display: inline-block;}
.page .prev i{background-position: 0 0}
.page .btn .disabled{color: #ccc;}
.page .prev .disabled i{background-position: -22px 0}
.page .next .disabled i{background-position: -44px 0}
.page .next i{background-position: -65px 0}
.page a{display:inline-block;line-height: 32px;border: #ededed 1px solid; height: 32px;width: 32px;text-align: center;cursor: pointer;vertical-align:top;}
.page span.dot{padding: 0 10px;height: 34px;line-height: 34px;display: inline-block;}
.page a.current, .page a:hover{background: #ba0d2a;color: #fff;}
.total{margin: 0 5px;}
.form .input { width: 35px; border: solid 1px #ededed; height: 21px; text-align: center; color: #999;vertical-align: 1px;}
.form .button{height: 21px; width: 43px; border: solid 1px #ededed; text-align: center; line-height: 21px; cursor: pointer;vertical-align: 1px;margin-left: 10px;}
.form .button:hover{background: #ba0d2a;color: #fff;}
.page .total, .page .form{display: inline-block;font-size: 12px;}

.pd_link a{padding:0 3px;font-weight: 700;}
.pd_price span{color: #e52142;font-size:26px;line-height:40px;}